@font-face {
	font-family: "Gilroy extra bold";
	src: url("../fonts/Gilroyextrabold.ttf") format("truetype"),
	url("../fonts/web/Gilroyextrabold.woff") format("woff"),
	url("../fonts/web/Gilroyextrabold.woff2") format("woff2");
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Gilroy light";
	src: url("../fonts/Gilroylight.ttf") format("truetype"),
	url("../fonts/web/Gilroylight.woff") format("woff"),
	url("../fonts/web/Gilroylight.woff2") format("woff2");
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "OpenSans-Light";
	src: url("../fonts/OpenSans-Light.ttf") format("truetype"),
	url("../fonts/web/OpenSans-Light.woff") format("woff"),
	url("../fonts/web/OpenSans-Light.woff2") format("woff2");
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.ttf");
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
	url("../fonts/web/OpenSans-Regular.woff") format("woff"),
	url("../fonts/web/OpenSans-Regular.woff2") format("woff2");
	font-weight: normal;
    font-style: normal;
}

body{
	background-color: #ffffff;
	font: 15px/2 OpenSans-Light, Helvetica, sans-serif;
	width: 960px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

input:focus {
	outline: none;
}